<div class="page-header">
  <h1>
    Eyes Makeup Catalog
    <a href="/eyes/new" class="btn btn-lg btn-success">Add New Look</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Look</th>
        <th>Store</th>
        <th>Brand</th>
        <th>Color</th>
        <th>Actions</th>
      </tr>

      <% @eyes.each do |eye| %>
      <tr>
        <td><%= eye.look_id %></td>
        <td><%= eye.store %></td>
        <td><%= eye.brand %></td>
        <td><%= eye.color %></td>
        <td>
          <a href="/eyes/<%= eye.id %>" class="btn btn-primary">Show</a>
          <a href="/eyes/<%= eye.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_eye/<%= eye.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
