<div class="page-header">
  <h3>Eye #<%= @eye.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Look</dt>
      <dd><%= @eye.look_id %></dd>

      <dt>Store</dt>
      <dd><%= @eye.store %></dd>

      <dt>Brand</dt>
      <dd><%= @eye.brand %></dd>

      <dt>Color</dt>
      <dd><%= @eye.color %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/eyes" class="btn btn-primary">
        Back
      </a>
      <a href="/eyes/<%= @eye.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_eye/<%= @eye.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
