<h1 class="page-header">Log in</h1>

<div class="row", id = "login_form">
  <div class="col-md-12">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      <br>
      <%= f.submit "Log in", class: "btn btn-lg btn-success"  %>
    <% end %><br>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>