<!-- Validation failure messages -->
<% if @lip_item.errors.any? %>
  <% @lip_item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Lip Makeup</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <%=form_for (@lip_item), :html => {:multipart => true} do |f|%>
    <%= f.label :store, "Makeup Type" %><br>
    <%= f.text_field :store, class: 'form-control'%><br>
    <%= f.label :brand, "Brand" %><br>
    <%= f.text_field :brand, class: 'form-control'%><br>
    <%= f.label :color, "Color" %><br>
    <%= f.text_field :color, class: 'form-control'%><br>
    <%= f.submit "Add Item", class: "btn btn-success" %>
or
      <a href="/lip_items">Cancel</a>

  <% end %>
  </div>
</div>
