<div class="page-header">
  <h1>
    Map Your Look
    <a href="/items/new" class="btn btn-lg btn-success">New Item</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Looks</th>
        <th>Browse Catalogs</th>
        <th>Add to Catalog</th>
        <!-- <th>Brand</th>
        <th>Color</th>
        <th>Actions</th> -->
      </tr>

      <% @items.each do |item| %>
      <tr>
      <td>
      <a href="/eyes/wallpaper" class="btn btn-primary"> View All Eye Looks</a>
      </td>
      <td>
      <a href="/eyes" class="btn btn-primary"> Browse Eyes Catalog</a>
      </td>
      <td><a href="/eyes/new" class="btn btn-primary"> Add New Eye Make Up </a></td>

      <tr>
      <td>
      <a href="/cheeks/wallpaper" class="btn btn-primary"> View All Cheek Looks</a>
      </td>
<td>
      <a href="/cheeks" class="btn btn-primary">Browse Cheeks Catalog</a> </td>
      <td><a href="/cheeks/new" class="btn btn-primary"> Add New Bronzer or Blush </a></td>
</tr>
      <tr>
<td>
      <a href="/lips/wallpaper" class="btn btn-primary"> View All Lip Looks</a>
      </td>
      <td>
      <a href="/lips" class="btn btn-primary">Browse Lips Catalog</a>
      </td>
<td><a href="/lips/new" class="btn btn-primary"> Add New Lipstick </a></td>

      </tr>
      <tr>
<td>
      <a href="/looks/wallpaper" class="btn btn-primary"> View All Total Looks</a>
      </td>
      <td>
      <a href="/looks" class="btn btn-primary">Browse Total Looks Catalog</a>
      </td>
<td><a href="/looks/new" class="btn btn-primary"> Add New Full Facials </a></td>

      </tr>

<!-- <tr>
        <td><%= item.look_id %></td>
        <td><%= item.store %></td>
        <td><%= item.brand %></td>
        <td><%= item.color %></td>
        <td>
          <a href="/items/<%= item.id %>" class="btn btn-primary">Show</a>
          <a href="/items/<%= item.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_item/<%= item.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr> -->
      <% end %>
    </table>
  </div>
</div>
