<div class="page-header">
  <h3>Lip #<%= @lip.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Look</dt>
      <dd><%= @lip.look_id %></dd>

      <dt>Store</dt>
      <dd><%= @lip.store %></dd>

      <dt>Brand</dt>
      <dd><%= @lip.brand %></dd>

      <dt>Color</dt>
      <dd><%= @lip.color %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/lips" class="btn btn-primary">
        Back
      </a>
      <a href="/lips/<%= @lip.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_lip/<%= @lip.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
