<!-- Validation failure messages -->
<% if @cheek.errors.any? %>
  <% @cheek.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Cheek #<%= @cheek.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_cheek/<%= @cheek.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for look_id -->
      <div class="form-group">
        <label for="look_id" class="control-label">
          Look
        </label>

        <input type="text" id="look_id" name="look_id" placeholder="Look" class="form-control" value="<%= @cheek.look_id %>">
      </div>

      <!-- Label and input for store -->
      <div class="form-group">
        <label for="store" class="control-label">
          Store
        </label>

        <input type="text" id="store" name="store" placeholder="Store" class="form-control" value="<%= @cheek.store %>">
      </div>

      <!-- Label and input for brand -->
      <div class="form-group">
        <label for="brand" class="control-label">
          Brand
        </label>

        <input type="text" id="brand" name="brand" placeholder="Brand" class="form-control" value="<%= @cheek.brand %>">
      </div>

      <!-- Label and input for color -->
      <div class="form-group">
        <label for="color" class="control-label">
          Color
        </label>

        <input type="text" id="color" name="color" placeholder="Color" class="form-control" value="<%= @cheek.color %>">
      </div>

      <button class="btn btn-warning">
        Update Cheek
      </button>
      or
      <a href="/cheeks/<%= @cheek.id %>">Cancel</a>
    </form>
  </div>
</div>
