<div class="page-header">
  <h3>Cheek #<%= @cheek.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Look</dt>
      <dd><%= @cheek.look_id %></dd>

      <dt>Store</dt>
      <dd><%= @cheek.store %></dd>

      <dt>Brand</dt>
      <dd><%= @cheek.brand %></dd>

      <dt>Color</dt>
      <dd><%= @cheek.color %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cheeks" class="btn btn-primary">
        Back
      </a>
      <a href="/cheeks/<%= @cheek.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cheek/<%= @cheek.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
